<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nxtvision.capitalstar">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="com.nxtvision.capitalstar.application.ApplicationActivity"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">
        <activity
            android:name="com.nxtvision.capitalstar.activities.Dashboard"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.nxtvision.capitalstar.activities.SplashScreen"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.nxtvision.capitalstar.activities.ServiceDescActivity" />
        <activity android:name="com.nxtvision.capitalstar.activities.LoginActivity" />
        <activity android:name="com.nxtvision.capitalstar.activities.RegisterActivity" />

        <!--Payment Activities-->
        <activity android:name="com.nxtvision.capitalstar.activities.ChoosePayment"></activity>
        <activity android:name="com.nxtvision.capitalstar.activities.pay.PayUMoneyWeb"></activity>
        <activity android:name="com.nxtvision.capitalstar.activities.pay.PayUBiz">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>


        <activity android:name="com.nxtvision.capitalstar.activities.PasswordActivity"></activity>
        <activity
            android:name="com.thefinestartist.finestwebview.FinestWebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/FinestWebViewTheme.Light" />

        <service android:name="com.nxtvision.capitalstar.firebasemessaging.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.nxtvision.capitalstar.smartview.WebViewActivity"
            android:screenOrientation="portrait" >
        </activity>

        <!--RAZORPAY META INFO-->
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_JiOWr2BIc0BFya" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.nxtvision.capitalstar.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>